<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/consulta"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-row>
      <ion-item class="already">Nome: {{username}}</ion-item>
    </ion-row>
    <img class="avatar" [src]="photo" *ngIf="photo" />
  </ion-row>

  <div id = "updateProfilePhoto">
    <div class = "titulo" >
      <p>Atualizar Foto de Perfil</p>
    </div>

    <div class = "camera">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </div>

  </div>

</ion-content>
