.formulario {
  background-color: #8EBBA7;
  padding: 16px;
  border-radius: 35px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.form-field {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  color: var(--primary);

  &__label {
    color: inherit;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 16px;
  }

  &__input {
    padding: 8px;
    border-radius: 4px;
    color: inherit;
    border: 2px solid;
    outline: none;
    font-size: 16px;
  }
}

.botao-wrapper {
  display: flex;
}

.botao {
  background-color: var(--primary);
  color: white;
  display: block;
  flex: 1;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  padding: 0.5em;
  cursor: pointer;
  transition: opacity 0.7s;
  max-width: 60%;
  text-align: center;
  margin: auto;

  &--cancelar {
    background-color: var(--secondary);
    margin-left: 20px;
  }

  &:hover {
    opacity: 0.5;
  }
}

.aviso{
  color: red;
  text-align: center;
}

.titulo{
  background-color: var(--primary);
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.cvs {
  max-width: 100%;
  max-height: 500px;
  padding: 1px;
  margin: 0 auto;
}

.extrato {
  background-color: #8EBBA7;
  padding: 16px;
  border-style: dashed;
  border: 10px;
  border-radius: 35px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  &__fonte{
    font-size: 15px;
  }
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
